* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: orange;
    height: 60px;
    margin-left: 10%;
    width: 80%;
    font-size: 50%;
}










footer {
    margin-left: 10%;
    color: white;
    background-color: rgb(44, 44, 59);
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 80%;
}