* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 70% 5%;
    grid-template-rows: 50px;
    align-items: center;
    justify-items: start;
    background-color: orange;
    width: 100%;
    font-size: 50%;
}
div#name {
    margin-left: 5%;
}
div#name > a {
    text-decoration: none;
    color: black;
}

div#buscar {
    margin-right: 10%;
}



main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

div#video > img.image {
    height: 30px;
    width: 30px;
}

.video {
    height: 30%;
    width: 30%;
}


footer {
    color: white;
    background-color: rgb(44, 44, 59);
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}